<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {{> styles}}
</head>
<body id="body">
<table id="container" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            {{> logo}}
            <h1>{{notificationTitleHeading}}</h1>
            <table id="action-card" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <p>{{taskTitleParagraph}}</p>
                        <a id="action-button" href="{{actionHref}}">View task</a>
                    </td>
                </tr>
            </table>
            <div id="notification-manage">Manage your BEPRO notifications</div>
            <table id="links" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <a href="https://app.bepro.network" class="link-item">App</a>
                        <a href="https://bepro.network" class="link-item">Website</a>
                        <a href="https://discord.gg/layerx" class="link-item">Discord</a>
                        <a href="https://twitter.com/bepronet" class="link-item">Twitter</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
