<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {{> styles}}
</head>
</html>
<body>
<div class="container">
    {{> logo}}
    <h1>{{notificationTitleHeading}}</h1>
    <div class="action-card">
        <p>{{taskTitleParagraph}}</p>
        <a class="action-button" href="{{actionHref}}">View task</a>
    </div>
    <div class="notification-manage">
        Manage your BEPRO notifications
    </div>
    <div class="links">
        <a href="https://app.bepro.network" class="link-item">App</a>
        <a href="https://bepro.network" class="link-item">Website</a>
        <a href="https://discord.gg/layerx" class="link-item">Discord</a>
        <a href="https://twitter.com/bepronet" class="link-item">Twitter</a>
    </div>
</div>
</body>