# See the documentation for more detail: https://github.com/bepronetwork/web-network/#3-environment-configuration
NODE_ENV=development
WEB_EVENTS_PORT=3334

# SSL
SSL_ENABLED=false
# Must fill full path
SSL_PRIVATE_KEY_PATH=
# Must fill full path
SSL_CERT_PATH=

# Database Settings
DB_DATABASE=github
DB_HOST=localhost
DB_PASSWORD=github
DB_PORT=54320
DB_USERNAME=github
DB_DIALECT=postgres
DB_SSL=false

# Database log, empty = false
DB_LOG=1

# Log level, 0 = none, 1 = error, 2 = warn, 3 = info, 4 = log
LOG_LEVEL=4

# Chain settings
# Create a new infura provider (or anyother web3 provider) and add the id here
PUBLIC_WEB3_CONNECTION=wss://kovan.infura.io/ws/v3
# Admin Wallet
WALLET_PRIVATE_KEY=

# Logs on console
LOGS_ACTIVE=false

# Github token
GITHUB_TOKEN=

# Ifps
IPFS_PROJECT_ID=
IPFS_PROJECT_SECRET=
IPFS_BASE=https://ipfs.infura.io:5001/api/v0

# ChainEvents - fill in with the last block mined in the blockchain.
BULK_CHAIN_START_BLOCK=0

# WebApp URL
WEBAPP_URL=http://localhost:3000

# NETWORK NAME DEFAULT (Optional)
NETWORK_NAME=

# Twitter integration (Optional)
TWITTER_APIKEY=
TWITTER_APIKEY_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

#ElasticSearch Logs (Optional)
ELASTIC_SEARCH_URL=
ELASTIC_SEARCH_USERNAME=
ELASTIC_SEARCH_PASSWORD=